# Python Virtual Environments
venv/
.venv/
env/
ENV/

# Python Cache & Compiled Files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Pretrained YOLO Model Weights (large binary files)
*.pt

# YOLO Inference Runs & Outputs
runs/

# Downloaded Test Assets
data/

# OS-specific files
Thumbs.db
.DS_Store

# IDE and Project Settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
